@page
@model PizzaStore.Pages.Cart.IndexModel
@using PizzaStore.Models;
@{
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carts[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carts[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carts[0].ProductImage)
            </th>
            <th>
                Total Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Carts != null)
        {
            @foreach (var item in Model.Carts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <img width="100" height="100" style="background-position: center center" src="@item.ProductImage" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)$
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-page="./RemoveCart" asp-route-productId="@item.ProductId">X</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Không có sản phẩm trong giỏ hàng.</p>
        }
    </tbody>
    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td> <p><strong>Total Price: @Model.TotalPrice $</strong></p></td>
                <td></td>
            </tr>
    </tbody>
</table>

<form method="post">
    <div class="form-group mt-3">
        <label asp-for="Order.RequiredDate" class="control-label"></label>
        <input value="@DateTime.Now" class="form-control"/>
        <span asp-validation-for="Order.RequiredDate" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Submit Order" class="btn btn-outline-primary" />
    </div>
</form>